@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
}

.hero-newfont {
  font-family: 'Mr De Haviland', cursive;
  font-weight: 400;
  letter-spacing: 0.02em;
}
