@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@400;500;600;700;800&display=swap");

:root {
  --site-font-family: 'Anek Devanagari', sans-serif;
}

body {
  font-family: var(--site-font-family);
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

img, video {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}
