---
import "../styles/global.css";

import Privacy from "../components/Privacy.astro";
//import Refund from "../components/Refund.astro";
//import Service from "../components/Service.astro";
//import Copyright from "../components/Copyright.astro";
//import Disclaimer from "../components/Disclaimer.astro";
//import Terms from "../components/Terms.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <title>Terms & Policies</title>
  </head>

  <body class="bg-white text-gray-800">

    <!-- BACK BUTTON -->
    <div class="p-8 sm:p-10 md:px-16 lg:px-24">
      <button 
        onclick="history.back()" 
        class="flex items-center gap-2 text-sm text-gray-600 hover:text-black group transition"
      >
        <span class="flex items-center justify-center transition group-hover:-translate-x-1">

          <svg 
            xmlns="http://www.w3.org/2000/svg" 
            width="20" 
            height="20" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 12l14 0" />
            <path d="M5 12l4 4" />
            <path d="M5 12l4 -4" />
          </svg>

        </span>

        Back
      </button>
    </div>

    <!-- CONTENT -->
    <main>

      <div id="privacy">
        <Privacy />
      </div>

      <!--<div id="service">
        <Service />
      </div>

      <div id="refund">
        <Refund />
      </div>

      <div id="copyright">
        <Copyright />
      </div>

      <div id="disclaimer">
        <Disclaimer />
      </div>

      <div id="terms">
        <Terms />
      </div>-->

    </main>

  </body>
</html>
