---
---

<html>
<body style="margin:0">

<canvas id="canvas"></canvas>

<script is:inline src="https://cdn.jsdelivr.net/npm/pixi.js@7.x/dist/pixi.min.js"></script>

<script is:inline>
console.log("PIXI START");

const app = new PIXI.Application({
  view: document.getElementById("canvas"),
  resizeTo: window,
  backgroundColor: 0x111111
});

const sprite = PIXI.Sprite.from("https://picsum.photos/500/500");

sprite.x = 100;
sprite.y = 100;

app.stage.addChild(sprite);
</script>

</body>
</html>
